//@import "./main.scss";
.light,
.light body {
  color: #000;
  background: #fff;
}

.dark,
.dark body {
  color: #fff;
  background: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/***********************************/
/***********************************/
/***********************************/
/************base*******************/
//BASE
//NORMALIZE
//TYPOGRAPHY
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/***********************************/
/***********************************/
/************component**************/
//BUTTONS

/***********************************/
/***********************************/
/************layouts****************/
//HEADER
//NAV
//MAIN
//FOOTER

/***********************************/
/***********************************/
/************pages******************/

/***********************************/
/***********************************/
/************themes*****************/

/***********************************/
/***********************************/
/************utils******************/
//EXTENSIONS
//FONCTIONS
//MIXINS
//VARIABLES 
/*
$primary: #9356DC;
$secondary: #FF79DA;
$ternary: #99E2D0;
*/

/***********************************/
/***********************************/
/************vendors****************/



/***********************************/
/***********************************/
/***********************************/
/********/
/********/
/***********************************/
/***********************************/
/*******custom rules***************/
// :root{font-family:Roboto;}
body{
  height: 100%;
}
