@import "../../_tmp/CARDS/kynome/";

%searchBarCharged {
    &__text_oSelect {
        text-align: center;
        padding: 3em;

        >label {
            position: absolute;
            left: 25%;
            width: 50%;

            &:first-of-type {
                z-index: 10;
                // text-align: center;
            }

            &:nth-of-type(2) {
                z-index: 5;
                width: calc(50% + 35px);
            }

            &:last-of-type {
                z-index: 3;
                width: calc(50% + 70px);

                >select {}
            }

            >* {
                width: 100%;
                padding: 0.5em;
            }

            >input {}

            >select {}
        }
    }

    >ul {
        @extend %cards_block;
        justify-content: center;
        background: rgba(0, 0, 0, .5);
        border: solid;
        border-top: none;
        border-radius: 0 0 5px 5px;

        >li {
            padding: 0;
            width: 10%;
            position: relative;

            >a {
                >figure {
                    >img {
                        // width: unset;
                    }

                    >figcaption {
                        padding: 1em;
                    }

                    >span {
                        @extend %goa_br;
                    }
                }
            }
        }
    }
}